.dev {
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 300px;
}

.travel {
    position: fixed;
    bottom: 100px;
    right: 200px;
    width: 300px;
}

.film {
    position: fixed;
    bottom: 100px;
    right: 300px;
    width: 300px;
}

.sport {
    position: fixed;
    bottom: 100px;
    right: 400px;
    width: 300px;
}

.scout {
    position: fixed;
    bottom: 100px;
    right: 500px;
    width: 300px;
}
