button:hover {
    background-color: #8a4cc9;
}

.infoText {
    color: purple;
    position: absolute;
    top: 30%;
    left: 60%;
    opacity: 0;
}

.infoContainer{
    opacity:0;
    position: absolute;
    top: 25%;
    left: 55%;
    background-color: white;
    width: 500px;
    height: 200px;
}

input:hover ~ .infoText{opacity: 1;}
input:hover ~ .infoContainer{opacity: 0.2;}

.dev {
    position: absolute;
    top: 60%;
    left: 40%;
}

.travel {
    position: absolute;
    top: 70%;
    left: 45%;
}

.film {
    position: absolute;
    top: 60%;
    left: 50%;
}

.sport {
    position: absolute;
    top: 70%;
    left: 60%;
}

.scout {
    position: absolute;
    top: 60%;
    left: 70%;
}
